* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero_three {
    width: 100%;
    height: 600px;
}

.hero_three .main_hero_three {
    width: 100%;
    height: 500px;
    display: flex;
}

.hero_three .main_hero_three .left,
.hero_three .main_hero_three .right {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_hero_three .left img {
    width: 95%;
    height: 480px;
    border-radius: 10px;
}

.main_hero_three .text_three {
    padding: 5px;
    width: 70%;
    height: 380px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.text_three h4 {
    font-size: 20px;
}

.text_three h4 span {
    font-weight: 100;
    margin-left: 10px;
}

.text_three h1 {
    font-size: 34px;
    font-weight: 600;
}

.text_three p {
    font-size: 16px;
}

.text_three button {
    width: 150px;
    height: 45px;
    border: 2px solid var(--purple);
    border-radius: 7px;
    background-color: var(--white);
    font-size: 16px;
    color: var(--black);
}

@media (max-width:1000px) and (min-width:880px) {
    .main_hero_three .text_three {
        width: 85%;
    }
}

@media (max-width:880px) and (min-width:660px) {
    .main_hero_three .text_three {
        width: 90%;
        height: 400px;
    }
}

@media (max-width:660px) {
    .hero_three {
        height: 700px;
    }

    .hero_three .main_hero_three {
        height: 600px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .hero_three .main_hero_three .left,
    .hero_three .main_hero_three .right {
        width: 100%;
        height: 300px;
    }

    .hero_three .left img {
        width: 90%;
        height: 280px;
    }

    .hero_three .right .text_three {
        width: 90%;
        height: 280px;
    }

    .text_three h4 {
        font-size: 18px;
    }

    .text_three h1 {
        font-size: 30px;
    }

    .text_three p {
        font-size: 14px;
    }

    .text_three button{
        height: 40px;
    }
}